@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Poppins:wght@600&display=swap');

*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

#topBanner{
    background-image: url("/images/home_background(1).jpg");
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    position:center; 
    height: 700px;   
}

.navBar a {
    text-align: center;
    list-style: none;
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;   
    color: black;
    border-radius: 30px;
    font-size: 18px;
}

.navBar img{ 
    padding-right: 30px;
    padding-left: 50px;
    margin-top: 20px;
}

.navBar input[type=text] {
    
    margin-top: 12px;
    border: 1.5px solid rgb(54, 54, 54);
    width: 320px;
    height: 30px;
    text-indent: 10px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.navBar input[type=text]:hover{
    background-color: rgb(199, 198, 198);
}

.navBar a.defalt{
    background-color: rgb(193, 233, 100);
    color: rgb(26, 18, 6);
    border-style: solid rgb(8, 8, 8);
    
}

.navBar a:hover{
    background-color: black;
    color: azure;
}

.navBar a.active{
    background-color: black;
    color: azure;
}

.navBar button{
    width: 100px;
    height: 35px;
    background-color: rgb(32, 32, 32);
    color: aliceblue;
    font-weight: 1000;
    border-radius: 20px;
    border: 1.5px solid rgb(80, 80, 80);
}

.navBar button:hover{
    background-color: rgb(82, 82, 82);
}

.bodyText {
    float: left;
    padding-right: 52%;
    padding-top: 6%;
    padding-left: 2%;
    text-align: left;
}

.bodyText h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    padding-bottom: 30px;
}

.bodyText p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(61, 61, 61);
    text-indent: 8px;
    line-height: 28px;
    padding-bottom: 50px;
}

.bodyButton a{
    margin-left: 2%;
    margin-right: 3%;
    padding-left: 10px;
    padding-right: 15px;
    border: 2px solid black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: rgb(223, 238, 255);
    color: black;
    display: inline block;
    position: relative;
    border-radius: 20px;
    background-size: 500px 100px;
}

.bodyButton a.btn2{
    background-color: black;
    color: aliceblue;
    border: 2px solid rgb(28, 11, 184);
}

.popCollection h2{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.popCollection img{
    border-radius: 50%;
    border: 3px solid rgb(101, 189, 248);
    margin-right: 10px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.popCollection img.r1{
    height: 120px;
    width: 120px;
}

.popCollection img.r2{
    height: 90px;
    width: 90px;
}

#secBanner{
    background: url("/images/home_background(2).jpg");
    position: center;
    background-size: cover;
    height: 675px;
}

#newColl h2{
    padding-top: 40px;
    text-align: center;
    font-size:40px;
    padding-bottom: 30px;
}

.b1{
    margin: 25px;
    width: 280px;
    height: 500px;
    text-align:center;
    display: inline-block;
    background-color: rgba(150, 149, 149, 0.5);
    box-shadow: -1px 0 10px rgb(83, 83, 83);
}

.b1 img{
    padding: 10px;
    width: 250px;
    height: 250px;
}

#newColl{
    background: url("/images/home_background(3).jpg");
    background-size: cover;
    height: 675px;
}

#recRES h2{
    padding-top: 40px;
    text-align: center;
    font-size:40px;
    padding-bottom: 30px;
    color: rgb(233, 232, 232);
}

.r1{
    margin: 25px;
    width: 280px;
    height: 380px;
    text-align:center;
    display: inline-block;
    background-color: rgba(46, 46, 46, 0.7);
    box-shadow: -1px 0 10px rgb(7, 7, 7);
    color: aliceblue;
    border-radius: 20px;
}

.r1 img{
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: -1px 0 10px rgb(17, 19, 18);
    margin-bottom: 20px;
}

#recRES{
    background: url("/images/home_background(4).jpg");
    background-size: cover;
}

.aa{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 50%;
}

